<div id="shelf" class="px clip">
  <div class="scroll">

    <div class="accordion list">
      <ul>
        <li id="meet-pz" class="selected"><a href="/" class="parent" onclick="paginate.scrollToPage(0);return false" data-styles="selected" data-styles-target="#meet-pz"><strong>pinch/zoom</strong></a>
          <ul>
          get "/home" do
          foreach $children do
            <li><a href="/#@slug" class="child" onclick="paginate.scrollToPage(@index);return false"><strong>@title</strong></a></li>
          endforeach
          end
          
          </ul>
        </li>
      </ul>
    </div>

  </div>
</div>
<a class="mask" href='' data-unpush="shelf"></a>